@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../../vendor/namu/wirechat/resources/views/**/*.blade.php';
@source '../../vendor/namu/wirechat/src/Livewire/**/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.div.dt-container {
    padding: 10px;
}

table.table.dataTable, div.dt-buttons {
    margin-bottom: 10px !important;
}

.content-wrapper>.content {
    padding: 1rem;
}

#wirechat main p {
    margin: 0;
}

#wirechat main.overscroll-contain pre {
    margin: 0;
    padding: 0;
}

#wirechat main.overscroll-contain .text-white pre {
    color: #fff;
}

#wirechat main.overscroll-contain .sticky {
    margin-top: 20px;
}

#wirechat a {
    color: var(--color-gray-700) !important;
}

#wirechat .bg-\[var\(--wc-light-secondary\)\] {
    background-color: var(--wc-light-secondary) !important;
}

#wirechat main section.grid, #wirechat main.md\:grid {
    display: grid;
}

#wirechat #chat-drawer section.flex {
    display: flex !important;
}
